<h1>Todolist with Firebase</h1>

<input [(ngModel)]="todotext" placeholder="Type an todo" type="text"><button (click)="addTodo()">Add</button>
<!--Wir verknüpfen mir [(ngModel)]="todotext" die Inputeingabe mit der Variable in der TS Datei und andersherum-->
<!--Wenn wir in der TS Datei die Variable ändern dann ändert sich das auch in der HTML Datein und wenn wir in der HTML Datei die Variable ändern dann ändert sich das auch in der TS Datei-->
<!--ESELSBRÜCKE: BANANA IN THE BOX!! Erst die [] Klammern und darin die () Klammern siehe [(ngModel)]-->
<ul>
  <li  *ngFor="let t of todos;  let i = index ">{{ t.name }}<button (click)="removeTodo(i)">X</button></li>
  <!--Mit *ngFor starten wir eine Forschleife-->
  <!-- Wir definieren ein einzelnes Element, hier t und lassen den HTML Tag li so lange ausführen, bis der Array todos einmal durchgelaufen ist-->
  <!-- Die Variable t ist jetzt ein Element aus der Array todos und da wir hier auf den namen zugreifen möchten machen wir t.names-->

  <!--Wir hätten auch die Möglichkeit folgenden Code zu schreiben <li *ngFor="let t of todos$ | async">{{ t.name }}</li> -->
  <!--Damit greifen wir direkt auf die Observable Variable zu und lösen diese Variable auf, unser Code würde genauso funktionieren-->
  <!--Wir würden uns damit den Schriit sparen eine subscribe Funktion zu schreiben und ein globale Variable zu definieren-->
  <!--Vorteil an unserer Methode ist es, dass wir innerhlab der subscribe Funktion auch andere nützliche Dinge sofort ausführen können z.B. ein Alert wenn eine Todo dazukommt-->
</ul>